{
  "presets": [
    "es2015",
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ],
  "plugins": ["transform-class-properties"]
}
